@page "/todo"
@rendermode InteractiveServer


<h3>To Do (@todos.Count(todo => !todo.isDone))</h3>

<input type="text" placeholder="Todo..." @bind="newTodoItemTitle" />
<button @onclick="AddTodo" >Add Item in List</button>

<ul>
    @foreach (var todo in todos)
    {
        if (showCompleted || !todo.isDone)
        {
            <li>
                <input type="checkbox" @bind="todo.isDone" />
                <label>@todo.Title</label>
            </li>
        }
    }
</ul>

<button @onclick="ClearCompleted">Clear Completed Tasks</button>
<button @onclick="ToggleShowCompleted">
    @(showCompleted ? "Show All" : "Show Completed")
</button>



@code {
    private List<TodoItem> todos = new();
    string newTodoItemTitle = "";
    private bool showCompleted = false;

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoItemTitle))
        {
            todos.Add(new TodoItem { Title = newTodoItemTitle });
            newTodoItemTitle = string.Empty;
        }
    }

    void ClearCompleted()
    {
        todos = todos.Where(todo => !todo.isDone).ToList();
    }

    void ToggleShowCompleted()
    {
        showCompleted = !showCompleted;
    }
}
